.custom_p {
    text-align: justify;
}

@media (min-width: 1200px) {
    .service-two__home-two .service-two__card-content {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-bottom: 35px;
        margin-bottom: 200px !important;
    }
}


@media (min-width: 1200px) {
    .service-two__card-content h3 {
        max-width: 100% !important;
    }
}

.call-to-action__two h3 {
    font-family: var(--thm-primary) !important;
}


@media (min-width: 992px) {
    .call-to-action__two h3 {
        font-size: 40px !important;
    }
}

.call-to-action h3 {
    font-family: var(--thm-primary) !important;
}

.stricky-header {
    background-color: #fff !important;
}



.main-menu__list>li>a {
    color: #0458A0 !important;
}


.site-footer {
    background-color: #EAF7F9 !important;
}


.footer-widget p {
    color: #0458A0 !important;
}

.main-header__info-phone {
    background-color: #E76B4C !important;
}

.footer-widget__links li a {
    color: #0458A0 !important;
}

.footer-widget__title {
    color: #0458A0 !important;
}

.footer-widget__contact li a {
    color: #0458A0 !important;
}

.footer__social a {
    color: #0458A0 !important;

}

.footer-widget__post-content h4 {
    color: #0458A0 !important;
}

.footer-widget__post-content span {
    color: #0458A0 !important;
}

.bottom-footer {
    background-color: #0458A0 !important;
}

.bottom-footer p {
    color: #fff !important
}

.bottom-footer__links a {
    color: #fff !important
}

.service-sidebar__links ul li a:hover {
    color: #fff !important;
    background-color: #0458A0 !important;
}

.allicons {
    width: 40px;
    height: 40px;
}

.service-details h2 {
    color: #0458A0 !important;
}

.service-details h4 {
    color: #0458A0 !important;
}

.service-details__list-2 li>i {
    color: #0458A0 !important;
}

.blogs_img {
    width: 100%;
}

.scroll-to-top {
    background: #0458A0 !important;
}

.contact-one__form .thm-btn {
    background: linear-gradient(to right, #2892CA 0%, #051771 50%, #2892CA 100%);
}

.about_content {
    text-align: justify;
    line-height: 20px;
    color: #464646 !important
}

@media (min-width: 992px) {
    .about-three {
        padding-top: 120px;
        padding-bottom: 0 !important;
    }
}

@media (min-width: 1200px) {
    .mission_vision_list li i:nth-child(1) {
        margin-top: -14px !important;
    }
}


@media (min-width: 992px) {
    .about_one_box {
        margin-top: 0 !important;
    }
}


@media (min-width: 992px) {
    .section_about_four {
        padding-top: 120px;
    }
}

.about_icons {
    width: 70px;
}

.client-carousel img {
    opacity: 1 !important;
}

.patners_box img {
    height: 280px;
}

.patners_box {
    padding: 50px;
    height: 350px;
}

.our_patners {
    padding-bottom: 150px;
}

.call-to-action {
    background-color: #0458a0 !important;
    transition: ease transform .2s;
}

.feature-two__box1 h3,
.feature-two__box2 h3,
.feature-two__box3 h3 {
    color: #0458a0 !important;
    font-size: 20px;
}

.feature-two__box1:hover {
    background-color: #0458a0 !important;
    cursor: pointer;
}

.feature-two__box1:hover h3,
.feature-two__box2:hover h3,
.feature-two__box3:hover h3 {
    color: #fff !important;
}



.feature-two__box2:hover {
    background-color: #0458a0 !important;
    cursor: pointer;
}

.feature-two__box3:hover {
    background-color: #0458a0 !important;
    cursor: pointer;
}

.feature_icon {
    width: 70px;
    height: 70px;
}

.ggg {
    display: flex;
    justify-content: center;
    align-items: center;
}


.service-two__card:hover {
    -webkit-box-shadow: 0 4px 0 0 #0458a0 !important;
    box-shadow: 0 4px 0 0 #0458a0 !important;
}

.video-one {
    background: #fff !important;
}

.video-one__text {
    background: #EAF7F8 !important;

}

.video-one .video-popup {
    background-color: #0458a0 !important;
    color: #fff !important;
}

.video-one .video-popup:hover {
    background: #ffff !important;
    color: #0458A0 !important;
}

#testimonials-one__swiper-pagination {
    position: relative;
    bottom: auto;
    left: auto;
    text-align: center;
    margin-top: 30px;
}

@media (min-width: 1200px) {
    #custom_testimonials_pagination {
        position: relative !important;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: block !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

#custom_testimonials_pagination .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #0458A0;
    opacity: 0.3;
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 1200px) {
    #custom_testimonials_pagination .swiper-pagination-bullet {
        margin-left: 10px !important;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#custom_testimonials_pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

.testimonials-one {
    background-color: #fff !important;
    ;
}

.swiper-slide p {
    color: #000 !important;
}

.blog-card__content .new-btn {
    background-color: linear-gradient(to right, #2892CA 0%, #051771 50%, #2892CA 100%) !important;
}


.projects-one__single>img {
    border: 2px solid !important
}

/* .projects-one{
    background-color: #F2F5F7 !important;
  } */

.whole_list {
    background-color: #ffffff !important;
}

.page-header .container h2 {
    font-family: var(--thm-primary) !important;
}


@media (min-width: 1200px) {
    .inner_product {
        background-color: #ffffff !important;
        padding-bottom: 0 !important;
        padding-top: 80px !important;
    }
}


.list_bg {
    background-color: #e4edee;
    border-top: 10px solid #1687a7;
}

.toblack {
    border-color: #000 !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.special_text {
    margin-top: 1.5em !important;
    margin-bottom: 0 !important;
}


@media (max-width: 575px) {
    .list_bg {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.fa-phone {
    font-size: 30px;
}

.footer-widget__title .fa-phone {
    font-size: 16px;
}

.footer-widget__contact li>i {
    color: #0458A0 !important
}



.bottomLeftContent {
    padding-right: 50px !important;
}

.call-to-action__button .thm-btn {
    background-color: #e4edee !important;
    color: #1687a7 !important;
}


.careers {
    background-image: url(../images/AllProducts/carrier.png);
    background-size: cover;
}

.apply {
    background-color: #0458A0;
    color: #FFFFFF;
    padding: 1em 1em;
    border-radius: 10px;
}

.apply:hover {
    color: #fff;
}

.mobile-nav__overlay {
    background-color: #EAF7F9 !important;
}

.mobile-nav__content {
    background-color: #0458A0 !important;
}

.mobile-nav__content .main-menu__list li a {
    color: #fff !important;
}

.mobile-nav__content .main-menu__list li a button {
    background-color: #EAF7F9 !important;
    color: #0458A0 !important
}

.mobile-nav__contact li>i {
    background-color: #EAF7F9 !important;
    color: #0458A0 !important
}

@media (max-width: 575px) {
    .class_spacing {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mobile_class {
        font-size: 30px !important;
    }

    .about-three {
        padding-top: 0 !important;
    }

    .about-three {
        padding-top: 60px !important;
    }

    .thm-breadcrumb {
        flex-wrap: wrap !important;
    }

    .project-details h2 {
        font-size: 30px !important;
    }

    .page-header .container h2 {
        font-size: 30px !important;
    }
}


@media (max-width: 991px) {
    .only_about_section_four {
        margin-top: 0 !important;
    }

    .about-three {
        padding-bottom: 0 !important;
    }
}

.our_patners {
    padding-bottom: 50px;
}

@media (max-width: 1199px) {
    .project-details {
        padding-bottom: 0px !important;

    }

    .inner_product {
        background-color: #EAF7F8 !important;
    }
}

.main-menu .main-menu__list li ul li:hover>a,
.stricky-header .main-menu__list li ul li:hover>a {
    background-color: #0458A0 !important;
    color: #fff;
}


.main-menu .main-menu__list>li::before,
.main-menu .main-menu__list>li::after,
.stricky-header .main-menu__list>li::before,
.stricky-header .main-menu__list>li::after {
    background-color: #0458A0 !important;
}


a.thm-btn.new-btn {
    background: linear-gradient(180deg, #2892CA 0%, #051771 100%) !important;
}

.feature-two__box1 {
    min-height: 450px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/banner/ww.svg);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}


.feature-two__box2 {
    min-height: 450px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/banner/sw.svg);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}


.feature-two__box3 {
    min-height: 450px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/banner/hc.svg);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;

}

.feature-two {
    background-color: #f1f1f1;
    margin-top: 0 !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.about-two {
    padding-bottom: 50px !important;
}

.client-carousel {
    background-color: #fff !important;
}

@media (min-width: 1200px) {
    .service-two {
        padding-top: 60px !important;
        padding-bottom: 80px !important;
    }
}




@media (max-width: 767px) {
    .swippercards {
        width: 80% !important;
        margin: 0 auto !important;
    }

    img.iconsimage.slidericons {
        width: 50px !important;
        height: 50px !important;
    }
}


.service-two__card-content h3 {
    margin-top: 0 !important;
    padding-top: 20px !important;
}


.service-two__card-content {
    min-height: auto !important;
}

.funfact-one__single h3 {
    font-family: var(--thm-primary) !important;
    color: #0160A8 !important
}


.step-gorizontal .step .step-number {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.step-gorizontal .step .step-number h3 {
    font-size: 100px;
    font-weight: 300;
    line-height: .7;
    margin-bottom: 0
}

@media(max-width:768px) {
    .step-gorizontal .step .step-number h3 {
        font-size: 50px
    }
}


.column-video {
    background-image: url(../images/comingsoon-bg.jpg);
    background-size: cover
}


.why-to-choose {
    background-color: #EAF7F9;
}

.numbers_special {
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    line-height: .7;
    margin-bottom: 0;
    color: #fff !important
}

.why-to-choose p {
    text-align: center;
    color: #fff !important
}

.why_to_choose {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-to-choose .backgrounds {
    background-color: #e4edee !important;
}

.video-one {
    margin-top: 170px !important;
}

.class1 {
    background-color: #0458A0;
    min-height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class2 {
    background-color: #2A7EC7;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.class3 {
    background-color: #3994E1;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.class4 {
    background-color: #288DE3;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.why_to_choose {
    height: 400px;
    /* background-color: #0458A0; */
}

.why-to-choose h2 {
    color: #fff !important;
    font-size: 2.5rem !important;
}

@media (max-width: 991px) {
    .why_to_choose {
        height: 100%;
        /* background-color: #0458A0; */
    }
}

.pretreatment_product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-two {
    background-color: #fff;
}

.feature-two__box h3 {
    color: #0160A8 !important;
}

.feature-two__box h3:hover {
    color: #fff !important
}

.about-two__summery p {
    margin: 0 !important;
    COLOR: #464646 !important;
    font-size: 17px !important;
}

.block-title h3 {
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    color: #0160A8 !important;
}

.block-title h2 {
    color: #0160A8 !important;
}

.innersectionh2 {
    color: #0160A8 !important;
}

.service-two__card-content a {
    --tw-text-opacity: 1;
    color: rgb(1 96 168/var(--tw-text-opacity)) !important;
}

h5,
h4 {
    --tw-text-opacity: 1;
    color: rgb(1 96 168/var(--tw-text-opacity)) !important;
}



.service-two__bottom-curv {
    width: 100%;
    height: 0 !important;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}


.normalcolor {
    color: #fff !important
}


.organizartion_row1,
.organizartion_row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.organizartion_row1 {
    padding-top: 50px;
}

.organizartion_row2 {
    padding-bottom: 50px;
}

.organizartion_row1 p {
    text-align: center;
}

.organizartion_row1 img,
.organizartion_row2 img {
    height: 75px;
    width: 75px;
    margin: 1em 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.os {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.oss {
    background-color: #f1f1f1;
}

.video-one__summery p {
    color: #464646 !important;
    line-height: 25px !important;
}

.video-one__list li>i {
    color: #0458A0 !important;
}

.video-one__list li {
    color: #464646 !important
}


#waste_water {
    background-color: #10449B !important;
    color: #FFFFFF !important;
    padding: 120px 0px 80px 0;
    margin: 0 0 0 0;
}

@media (min-width: 768px) {
    .wasteWater {
        color: #FFFFFF !important;
    }

    .learn_more {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .topText {
        padding-bottom: 50px !important;
        font-size: 17px;
    }

}

.learn_more {
    padding-top: 80px;
    padding-bottom: 80px;
}

.servicep {
    color: #464646 !important
}

.icon-box img {
    width: 70px !important;
    height: 70px !important;
    padding: 10px 5px 10px;
}

.icon-box {
    background-color: #d3d3d3;
    padding: 20px 20px;
}

.learn_more {
    background-color: #f1f1f1;
}

.resins {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-two__box h3 {
    text-align: center !important;
}


.main-slider__two .swiper-slide h2 {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.main-slider .swiper-slide h2 {
    font-size: 70px !important;
    font-weight: 600 !important;
    padding-top: 100px !important;

}

/* .main-slider .swiper-slide .image-layer {
    background-size: contain !important;
  } */


.main-slider__two .swiper-slide .image-layer {
    background-position: center !important;
}


.main-slider__two .swiper-slide .container {
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
}


@media (max-width: 991px) {
    .main-slider .swiper-slide h2 {
        font-size: 36px !important;
    }
}


.main-slider__two .swiper-slide .container {
    padding-top: 0 !important;
    padding-bottom: 190px;
}

@media (max-width: 991px) {
    .main-slider__two .swiper-slide .container {
        padding-top: 0 !important;
        padding-bottom: 130px;
    }
}

@media (max-width: 425px) {
    .main-slider__two .swiper-slide .container {
        padding-top: 0 !important;
        padding-bottom: 110px;
    }
}



.main-slider .swiper-slide .image-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    -webkit-transform: scale(1);
    transform: scale(1);
    background-position: center;
    -webkit-transition: -webkit-transform 7000ms ease;
    transition: -webkit-transform 7000ms ease;
    transition: transform 7000ms ease;
    transition: transform 7000ms ease, -webkit-transform 7000ms ease;
}


.bg1slider {
    background: url(../images/banner/banner1.png);
    background-position: center center;
    background-size: cover;
    min-height: 80vh;
}

.bg2slider {
    background: url(../images/banner/banner2.png);
    background-position: center center;
    background-size: cover;
    min-height: 80vh;
}

.mobbanner{
    display: none;
}



.captiontext {
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    padding-top: 1em;
    line-height: 75px;
}



@media (max-width: 675px){

    .bg1slider {
        background: url(../images/banner/banner1.png);
        background-position: 90% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: auto;
    }
    
    .bg2slider {
        background: url(../images/banner/banner2.png);
        background-position: 90% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: auto;
    }

    .captiontext {
        color: #fff;
        font-size: 2rem !important;
        font-weight: 600;
        padding-top: 3em;
        padding-bottom: 3em;
        line-height: 50px !important;
        min-height: 300px;
    }


    .thm-btn{
        display: none !important;
    }

    .about-two{
        padding-top: 50px !important;
    }

    .overlay_text{
        background-color: rgba(0, 0, 0, .2);
    }
    
    
}


.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}


.captiontext {
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    padding-top: 1em;
    line-height: 75px;
}


/* 
.bg1slider {
    background: url(../images/bgslider.png);
    background-position: center center;
    background-size: cover;
    min-height: auto;
    background-color: rgba(0, 0, 0, .5);
}


.bgwhite {
    background-color: #fff;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 10px;
}


.verticalcenter {
    min-height: 70vh;
}


.captiontext {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 70px;
}



.rowoverflow {
    width: 900px;

}


.overflowhoriz {
    overflow-x: scroll;
    width: 100vw;
}


.overflowhoriz::-webkit-scrollbar {
    width: 20px;

}


@media screen and (max-width: 480px) {

    .vanishdiv {
        display: none;
    }

} */



.bannerImages {
    height: 100% !important;
}

.whyBackground {
    background-image: url(../images/why_to_chhose.webp);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.whyText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyText h3 {
    color: #FFFFFF !important;
    font-size: 2.5rem;
    text-align: center;
}

.whyDescription {
    text-align: justify;
}

.bottom_section {
    --tw-bg-opacity: 1;
    background-color: rgb(1 96 168/var(--tw-bg-opacity));
}

.bottom_section h2 {
    color: #fff !important;
    font-weight: 600;
    font-size: 20px;
    padding: 0.5rem 0;
}


.bottom_section p {
    color: #fff !important;
}

.low_bottom h2 {
    color: #0160A8 !important;
}

.bottom_gap {
    padding: 30px 0;
}


.low_bottom {
    background-color: #EAF7F9 !important;
}

.low_bottom .second_section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.second_section p {
    color: #464646 !important
}

.text_orange {
    --tw-text-opacity: 1;
    color: rgb(231 108 75/var(--tw-text-opacity));
    text-decoration: underline;
    font-weight: 600;
}

.text_orange:hover {
    --tw-text-opacity: 1;
    color: rgb(231 108 75/var(--tw-text-opacity));
}

.custom_block_title {
    margin-bottom: 20px !important;
}

.sector_p {
    text-align: center;
    line-height: 20px;
}

.org_main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.org_main2 {
    padding-top: 50px;
}

.testimonials-one {
    background-color: #f1f1f1 !important;
}


.solutionbackground {
    background-image: url(../images/home_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: flex-start;
    padding: 3em 0;
}

@media (min-width: 1200px) {
    .video-one__image {
        left: -80px;
        top: 0 !important;
    }
}

.video-one {
    margin-top: 0 !important;
}

.organization_sector {
    background-color: #f1f1f1 !important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.solutions p {
    text-align: center;
    color: #fff !important;
    font-size: 1.4rem;
    line-height: 30px;
    padding: 2rem 0;
}

.solutions h1 {
    color: #fff !important;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.overlay_sol {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, .5);
}

.btn-orange {
    background-color: #e76c4b !important;
    color: #fff !important
}

.solutions {
    transition: transform .2s;
}

.solutions:hover {
    transform: scale(1.1);
}

.call_our {
    padding: 0.5em 2em;
    background-color: transparent;
    border: 2px solid #fff !important;
    color: #fff !important;
    font-weight: 600;
}

.call_our:hover {
    background-color: #e76c4b;
}

.call_our_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-title-feature2 {
    margin-bottom: 0 !important;
}

.block-title-sectionp {
    line-height: 25px;
    color: #464646 !important
}

.client-carousel .swiper-slide {
    margin-bottom: 30px !important;
}

.a {
    transition: ease transform .2s;
}

a:hover {
    transform: scale(1.1);
    background-position: right center;
}

.call-to-action:hover {
    background-color: #d1d1d1 !important;
    transform: scale(1.1);
}

.call-to-action:hover h3 {
    color: #0160A8 !important
}

.call-to-action:hover a {
    background-color: #e76c4b !important;
    color: #fff !important;
}

.org_main {
    transition: ease transform .2s;
}

.org_main .o_s:hover {
    transform: scale(1.3);
}

.bottom_gap {
    transition: ease transform .2s;
}

.bottom_gap div:hover {
    transform: scale(1.1);
}

.og_second_div{
    padding-top: 50px;
}

@media (max-width: 991px){
    .og_second_div{
        padding-top: 0;
    } 
}