.custom_p {
    text-align: justify;
}

@media (min-width: 1200px) {
    .service-two__home-two .service-two__card-content {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-bottom: 35px;
    }
}


@media (min-width: 1200px) {
    .service-two__card-content h3 {
        max-width: 100% !important;
    }
}

.call-to-action__two h3 {
    font-family: var(--thm-primary) !important;
}


@media (min-width: 992px) {
    .call-to-action__two h3 {
        font-size: 40px !important;
    }
}

.call-to-action h3 {
    font-family: var(--thm-primary) !important;
}

.stricky-header {
    background-color: #EAF7F9 !important;
}



.main-menu__list>li>a {
    color: #0458A0 !important;
}


.site-footer {
    background-color: #EAF7F9 !important;
}


.footer-widget p {
    color: #0458A0 !important;
}

.main-header__info-phone {
    background-color: #0458A0 !important;
}

.footer-widget__links li a {
    color: #0458A0 !important;
}

.footer-widget__title {
    color: #0458A0 !important;
}

.footer-widget__contact li a {
    color: #0458A0 !important;
}

.footer__social a {
    color: #0458A0 !important;

}

.footer-widget__post-content h4 {
    color: #0458A0 !important;
}

.footer-widget__post-content span {
    color: #0458A0 !important;
}

.bottom-footer {
    background-color: #0458A0 !important;
}

.bottom-footer p {
    color: #fff !important
}

.bottom-footer__links a {
    color: #fff !important
}

.service-sidebar__links ul li a:hover {
    color: #fff !important;
    background-color: #0458A0 !important;
}

.allicons {
    width: 40px;
    height: 40px;
}

.service-details h2 {
    color: #0458A0 !important;
}

.service-details h4 {
    color: #0458A0 !important;
}

.service-details__list-2 li>i {
    color: #0458A0 !important;
}

.blogs_img {
    width: 100%;
}

.scroll-to-top {
    background: #0458A0 !important;
}

.contact-one__form .thm-btn {
    background: linear-gradient(to right, #2892CA 0%, #051771 50%, #2892CA 100%);
}

.about_content {
    text-align: justify;
    line-height: 20px;
}

@media (min-width: 992px) {
    .about-three {
        padding-top: 120px;
        padding-bottom: 0 !important;
    }
}

@media (min-width: 1200px) {
    .mission_vision_list li i:nth-child(1) {
        margin-top: -14px !important;
    }
}


@media (min-width: 992px) {
    .about_one_box {
        margin-top: 0 !important;
    }
}


@media (min-width: 992px) {
    .section_about_four {
        padding-top: 120px;
    }
}

.about_icons {
    width: 70px;
}

.client-carousel img {
    opacity: 1 !important;
}

.patners_box img {
    height: 250px;
}

.patners_box {
    padding: 50px;
    height: 350px;
}

.our_patners {
    padding-bottom: 150px;
}

.call-to-action {
    background-color: #0458a0 !important;
}

.feature-two__box:hover {
    background-color: #0458a0 !important;
}

.feature_icon {
    width: 70px;
    height: 70px;
}

.ggg {
    display: flex;
    justify-content: center;
    align-items: center;
}


.service-two__card:hover {
    -webkit-box-shadow: 0 4px 0 0 #0458a0 !important;
    box-shadow: 0 4px 0 0 #0458a0 !important;
}

.video-one {
    background: #0458A0 !important;
}

.video-one__text {
    background: #0458A0 !important;

}

.video-one .video-popup {
    background-color: #EAF7F9 !important;
    color: #0458A0 !important;
}

.video-one .video-popup:hover {
    background: #ffff !important;
    color: #0458A0 !important;
}

#testimonials-one__swiper-pagination {
    position: relative;
    bottom: auto;
    left: auto;
    text-align: center;
    margin-top: 30px;
}

@media (min-width: 1200px) {
    #custom_testimonials_pagination {
        position: relative !important;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: block !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

#custom_testimonials_pagination .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #0458A0;
    opacity: 0.3;
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 1200px) {
    #custom_testimonials_pagination .swiper-pagination-bullet {
        margin-left: 10px !important;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#custom_testimonials_pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

.testimonials-one {
    background-color: #fff !important;
    ;
}

.swiper-slide p {
    color: #000 !important;
}

.blog-card__content .new-btn {
    background-color: linear-gradient(to right, #2892CA 0%, #051771 50%, #2892CA 100%) !important;
}


.projects-one__single>img {
    border: 2px solid !important
}

/* .projects-one{
    background-color: #F2F5F7 !important;
  } */

.whole_list {
    background-color: #F2F5F7 !important;
}

.page-header .container h2 {
    font-family: var(--thm-primary) !important;
}


@media (min-width: 1200px){
    .inner_product {
        background-color: #EAF7F8 !important;
        padding-bottom: 0 !important; 
        padding-top: 80px !important;
    }
} 


.list_bg{
    background-color: #e4edee;
    border-top: 10px solid #1687a7;
}

.toblack{
    border-color: #000 !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.special_text{
    margin-top: 1.5em !important;
    margin-bottom: 0 !important;
}


@media (max-width: 575px){
    .list_bg{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.fa-phone {
    font-size: 30px ;
}
.footer-widget__title .fa-phone{
    font-size: 16px;
}

.footer-widget__contact li > i{
    color: #0458A0 !important 
}



.bottomLeftContent{
    padding-right: 50px !important;
}

.call-to-action__button .thm-btn{
    background-color: #e4edee !important;
    color: #1687a7 !important;
}


.careers{
    background-image: url(../images/AllProducts/carrier.png);
    background-size: cover;
}

.apply{
    background-color: #0458A0;
    color: #FFFFFF; 
    padding: 1em 1em;
    border-radius: 10px;
}

.apply:hover{
    color: #fff;
}

.mobile-nav__overlay{
    background-color: #EAF7F9 !important;
}

.mobile-nav__content{
    background-color: #0458A0 !important; 
}

.mobile-nav__content .main-menu__list li a{
    color: #fff !important;
}

.mobile-nav__content .main-menu__list li a button{
    background-color: #EAF7F9 !important;
    color: #0458A0 !important
}

.mobile-nav__contact li > i{
    background-color: #EAF7F9 !important;
    color: #0458A0 !important
}

@media (max-width: 575px){
    .class_spacing{
        padding-left: 15px;
        padding-right: 15px;
    }
    .mobile_class{
        font-size: 30px !important;
    }
    .about-three{
        padding-top: 0 !important;
    }
    .about-three{
        padding-top: 60px !important;
    }
    .thm-breadcrumb{
        flex-wrap: wrap !important;
    }
    .project-details h2{
        font-size: 30px !important;
    }
    .page-header .container h2{
        font-size: 30px !important;
    }
}


@media (max-width: 991px){
    .only_about_section_four{
        margin-top: 0 !important;
    }
    .about-three{
        padding-bottom: 0 !important;
    }
}

.our_patners{
    padding-bottom: 50px;
}

@media (max-width: 1199px){
    .project-details{
        padding-bottom: 0px !important;

    }

    .inner_product {
        background-color: #EAF7F8 !important;
    }
}

.main-menu .main-menu__list li ul li:hover > a,
.stricky-header .main-menu__list li ul li:hover > a {
  background-color: #0458A0 !important;
  color: #fff;
}


.main-menu .main-menu__list > li::before, .main-menu .main-menu__list > li::after,
.stricky-header .main-menu__list > li::before,
.stricky-header .main-menu__list > li::after {
    background-color: #0458A0 !important;
}


a.thm-btn.new-btn {
    background: linear-gradient(180deg, #2892CA 0%, #051771 100%) !important;
}

.feature-two__box{
    min-height: 290px !important;
}



@media (max-width: 767px){
    .swippercards{
      width: 80% !important;
      margin: 0 auto !important;
    }
    img.iconsimage.slidericons {
      width: 50px !important;
      height: 50px !important;
  }
  }


  .service-two__card-content h3{
    margin-top: 0 !important;
    padding-top: 20px !important;
  }


  .service-two__card-content{
    min-height: 200px !important;
  }

  .funfact-one__single h3{
    font-family: var(--thm-primary) !important;
  }


  .step-gorizontal .step .step-number {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.step-gorizontal .step .step-number h3 {
    font-size: 100px;
    font-weight: 300;
    line-height: .7;
    margin-bottom: 0
}

@media(max-width:768px) {
    .step-gorizontal .step .step-number h3 {
        font-size: 50px
    }
}


.column-video {
    background-image: url(../images/comingsoon-bg.jpg);
    background-size: cover
}


.why-to-choose{
    background-color: #EAF7F9;
}

.numbers_special{
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    line-height: .7;
    margin-bottom: 0;
    color: #fff !important
}

.why-to-choose p{
    text-align: center;
    color: #fff !important
}

.why_to_choose{
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-to-choose .backgrounds{
    background-color: #e4edee !important;
}

.video-one{
    margin-top: 170px !important;
}

.class1{
    background-color: #0458A0;
    min-height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class2{
    background-color: #2A7EC7; 
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.class3{
    background-color: #3994E1; 
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.class4{
    background-color: #288DE3; 
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.why_to_choose{
    height: 400px;
    /* background-color: #0458A0; */
}

.why-to-choose h2{
    color: #fff !important;
    font-size: 2.5rem !important;
}

@media (max-width: 991px){
    .why_to_choose{
        height: 100%;
        /* background-color: #0458A0; */
    }
}